* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
}

html {
  	height:100%;
  	position: relative;
	padding-bottom: 101px !important;
}

body {
	background-image: url('../images/teddybearbg.jpg');
	background-size:cover;
	background-color:#BCC27C;
	background-position:center;
	background-repeat:no-repeat;
  	background-attachment: fixed;
  	height:100%;
  	margin:auto;
  	position: relative;
	padding-bottom: 101px !important;
}

nav, nav a {
 	background-color: #717344;
  	font-family: 'Nunito', sans-serif;
  	font-size:20px;
  	word-spacing:5px;
  	color:white;
  	z-index:1;
}

nav a:hover {
	color:#424327;
  	text-decoration: none;
}

nav li {
	padding-left:1em
}

main {
	min-height: 100%;
}

.footer {
 	background-color: #717344;
  	width: 100%;
	position: relative;
	display: inline-block;
	overflow:hidden;
	bottom:-72px;
}

.footer-inner, .footer-inner a {
  	text-align: right;
  	font-family: 'Nunito', sans-serif;
  	color: white;
  	font-size:14px;
  	margin:10px;
}

.footer-inner a:hover {
	color:#424327;
  	text-decoration: none;	
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
	margin: auto;
}

.centertext-wrap {
	width:620px;
	height:auto;
	padding:30px;
    transform: translate(-50%, -50%);
    position:fixed;
	top: 50%;
	left: 25%;
}

.centertext-top, .centertext-bottom p {
	font-size:30px;
  	font-family: 'Nunito', sans-serif;
  	color:white;
	text-shadow: 1px 1px #A88248;
}

.centertext-top {
	text-align:left;
	position: fixed;
	margin-top:-120px;
}

.centertext {
	width:100%;
    background: rgba(113, 115, 68, 0.75); 
	text-align:center;
	padding:30px;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius:20px;
}

.centertext h2 {
  	font-family: 'Nunito', sans-serif;
  	color: white;
  	font-size:60px;
  	text-transform:uppercase;
  	margin-top:10px;
  	font-weight:bold;
  	letter-spacing:3px;
}

.centertext h2:hover {
	color:#1B1D1E;
	text-shadow: 2px 2px #C2A270;
}

.centertext-bottom {
	text-align:left;
	position: fixed;
	margin-top:75px;
	margin-left:190px;
}

.col {	
	width:auto;
	left:-20%;
  	font-family: 'Nunito', sans-serif;
}

.textSteps {		
	background: rgba(113, 115, 68, 0.7);
	padding:25px;
    border-radius:20px;
}
	
.textSteps p {
	text-align:justify;
	color:white;
	text-shadow: 1px 1px 5px #606239;
}

.textSteps h2 {
	text-align:center;
	color:white;
	text-shadow: 2px 2px #C2A270;
	padding:10px;
	font-weight:bold;
}

.jumbotron {
	background-color:transparent !important;
  	font-family: 'Nunito', sans-serif;
  	width:58%;
  	margin-left:10%;
	text-shadow: 1px 1px #C2A270;
}

.jumbotron p, h1 {
	text-align:justify;
	color:white;
}

.btn {
	background-color:#C2A270;
	border-color:#C2A270;
	border-radius:20px;
}

.btn:hover {
	background-color:#A88248;
	border-color:#A88248;
	color:#EADFCE;
}


@media screen and (max-width: 1500px) {
	.col {
		left:0%;
	}
}

@media screen and (max-width: 1200px) {
	.centertext-wrap {
	    width:320px;
	    top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	  }

	.centertext {
	  	width:320px;
	  }

	.centertext h2 {
	  	font-size:34px;
	  }

	.centertext-top, .centertext-bottom p {
		font-size:18px;
	}

	.centertext-top {
		margin-top:-115px;
		margin-left:-15px;
	}

	.centertext-bottom {
		margin-top:90px;
		margin-left:50px;
	}

	.col {
		margin-top: 10%;
		margin-left: 7%;
	}

	.textSteps {		
		border-radius:20px;
		width:350px;
	}

	.textSteps p {
		font-size:14px;
	}

	.textSteps h2 {
		font-size:24px;
	}

	.footer {
		bottom:-78px;
	}

	.jumbotron {
  		width:79%;
	}

	.jumbotron p {
    	background: rgba(113, 115, 68, 0.75); 
		padding:30px;
		text-shadow: 1px 1px 5px #606239;
    	border-radius:20px;
	}

	.btn {
    	margin-left:33%;
	}
}

